{% extends 'base.html.twig' %}

{% block content %}

<h3>  Commande </h3>


<ul>

{% for commande in commandes %}
    <li>{{ comamnde.adresse }}</li>
    <li>{{ comamnde.nom }}</li>
    <li>{{ comamnde.numero }}</li>
{% endfor %}

</ul>


{% endblock %}