{% extends 'base.html.twig' %}

{% block content %}

<h3>All  Commande </h3>


<ul>

{% for cdm in cdms %}
    <li>{{ cdm.adresse }}</li>
    <li>{{ cdm.nom }}</li>
    <li>{{ cdm.numero }}</li>
{% endfor %}

</ul>


{% endblock %}